In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [16]:
def formata_valor(valor):
  return f"{valor:,.0f}".replace(',', '.')

In [17]:
path_vendas = "../data/Vendas.xlsx"
path_vendas_dez = "../data/Vendas_Dez.xlsx"
path_gerentes = "../data/Gerentes.xlsx"
df_vendas = pd.read_excel(path_vendas)
df_vendas_dez = pd.read_excel(path_vendas_dez)
df_gerentes = pd.read_excel(path_gerentes)

In [18]:
frames = [df_vendas, df_vendas_dez]
df_vendas = pd.concat(frames)

In [20]:
# new collum with new data
df_vendas['Comissão'] = df_vendas['Valor Final'] * 0.02

In [21]:
display(df_vendas.head(3))
display("Linhas / colunas", df_vendas.shape)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,7.16
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,7.20
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,7.36

'Linhas / colunas'

(100999, 8)

REALIZANDO O TRATAMENTO DE DADOS

In [24]:
numeric_cols = df_vendas.select_dtypes(include = 'number')
df_filled = df_vendas.fillna(numeric_cols.mean())

In [25]:
# number of lines with missing data
missing_data_per_column = df_vendas.isnull().sum()
print("Número de valores ausentes por coluna:")
print(missing_data_per_column)

Número de valores ausentes por coluna:
Código Venda      0
Data              0
ID Loja           0
Produto           0
Quantidade        0
Valor Unitário    0
Valor Final       0
Comissão          0
dtype: int64